openapi: 3.2.0
info:
  title: Offerpad WordPress REST API (wp/v2) Comments API
  version: 2.0.0
  summary: The wp/v2 namespace of the WordPress REST API served by Offerpad's marketing site.
  description: DERIVED, NOT PUBLISHED BY OFFERPAD. Offerpad publishes no OpenAPI definition and does not document or support this surface as a developer product. This document was derived mechanically by API Evangelist from the live WordPress route-discovery document fetched from https://www.offerpad.com/wp-json/ on 2026-07-26 (411 routes across 20 namespaces; the wp/v2 namespace is captured here). Every path, method, parameter name, type, enum, default and description is copied verbatim from that discovery document. Response bodies are intentionally left as generic objects because the discovery document does not publish response schemas; error responses are grounded in payloads probed live against this host. This is a content-management surface for the marketing site - it is NOT a real estate, listing, valuation or transaction API.
  contact:
    name: Offerpad
    url: https://www.offerpad.com/contact/
  x-apievangelist-method: derived
  x-apievangelist-source: openapi/offerpad-wp-json-discovery.json
  x-apievangelist-derived: '2026-07-26'
  x-upstream-documentation: https://developer.wordpress.org/rest-api/
servers:
- url: https://www.offerpad.com/wp-json
  description: Offerpad marketing site (WP Engine)
security: []
tags:
- name: comments
  description: WordPress comments resource routes.
paths:
  /wp/v2/comments:
    get:
      operationId: listComments
      summary: List comments
      tags:
      - comments
      parameters:
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: page
        schema:
          type: integer
          default: 1
          minimum: 1
        required: false
        description: Current page of the collection.
        in: query
      - name: per_page
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        required: false
        description: Maximum number of items to be returned in result set.
        in: query
      - name: search
        schema:
          type: string
        required: false
        description: Limit results to those matching a string.
        in: query
      - name: after
        schema:
          type: string
          format: date-time
        required: false
        description: Limit response to comments published after a given ISO8601 compliant date.
        in: query
      - name: author
        schema:
          type: array
          items:
            type: integer
        required: false
        description: Limit result set to comments assigned to specific user IDs. Requires authorization.
        in: query
      - name: author_exclude
        schema:
          type: array
          items:
            type: integer
        required: false
        description: Ensure result set excludes comments assigned to specific user IDs. Requires authorization.
        in: query
      - name: author_email
        schema:
          type: string
          format: email
          default: null
        required: false
        description: Limit result set to that from a specific author email. Requires authorization.
        in: query
      - name: before
        schema:
          type: string
          format: date-time
        required: false
        description: Limit response to comments published before a given ISO8601 compliant date.
        in: query
      - name: exclude
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Ensure result set excludes specific IDs.
        in: query
      - name: include
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Limit result set to specific IDs.
        in: query
      - name: offset
        schema:
          type: integer
        required: false
        description: Offset the result set by a specific number of items.
        in: query
      - name: order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        required: false
        description: Order sort attribute ascending or descending.
        in: query
      - name: orderby
        schema:
          type: string
          enum:
          - date
          - date_gmt
          - id
          - include
          - post
          - parent
          - type
          default: date_gmt
        required: false
        description: Sort collection by comment attribute.
        in: query
      - name: parent
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Limit result set to comments of specific parent IDs.
        in: query
      - name: parent_exclude
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Ensure result set excludes specific parent IDs.
        in: query
      - name: post
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Limit result set to comments assigned to specific post IDs.
        in: query
      - name: status
        schema:
          type: string
          default: approve
        required: false
        description: Limit result set to comments assigned a specific status. Requires authorization.
        in: query
      - name: type
        schema:
          type: string
          default: comment
        required: false
        description: Limit result set to comments assigned a specific type. Requires authorization.
        in: query
      - name: password
        schema:
          type: string
        required: false
        description: The password for the post if it is password protected.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: 'Invalid parameter(s). Probed live: {"code":"rest_invalid_param"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: 'Authentication required or capability missing. Probed live: {"code":"rest_forbidden"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: 'No route matched, or the resource id is invalid. Probed live: {"code":"rest_no_route"} / {"code":"rest_post_invalid_id"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: createComments
      summary: Create comments
      tags:
      - comments
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID of the user object, if author was a user.
                author_email:
                  type: string
                  format: email
                  description: Email address for the comment author.
                author_ip:
                  type: string
                  format: ip
                  description: IP address for the comment author.
                author_name:
                  type: string
                  description: Display name for the comment author.
                author_url:
                  type: string
                  format: uri
                  description: URL for the comment author.
                author_user_agent:
                  type: string
                  description: User agent for the comment author.
                content:
                  type: object
                  description: The content for the comment.
                date:
                  type: string
                  format: date-time
                  description: The date the comment was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the comment was published, as GMT.
                parent:
                  type: integer
                  default: 0
                  description: The ID for the parent of the comment.
                post:
                  type: integer
                  default: 0
                  description: The ID of the associated post object.
                status:
                  type: string
                  description: State of the comment.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPasswords: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Resource created.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: 'Invalid parameter(s). Probed live: {"code":"rest_invalid_param"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: 'Authentication required or capability missing. Probed live: {"code":"rest_forbidden"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: 'No route matched, or the resource id is invalid. Probed live: {"code":"rest_no_route"} / {"code":"rest_post_invalid_id"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/comments/{id}:
    get:
      operationId: getCommentsById
      summary: Retrieve comments
      tags:
      - comments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the comment.
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: password
        schema:
          type: string
        required: false
        description: The password for the parent post of the comment (if the post is password protected).
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: 'Invalid parameter(s). Probed live: {"code":"rest_invalid_param"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: 'Authentication required or capability missing. Probed live: {"code":"rest_forbidden"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: 'No route matched, or the resource id is invalid. Probed live: {"code":"rest_no_route"} / {"code":"rest_post_invalid_id"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: createCommentsById
      summary: Create comments
      tags:
      - comments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the comment.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID of the user object, if author was a user.
                author_email:
                  type: string
                  format: email
                  description: Email address for the comment author.
                author_ip:
                  type: string
                  format: ip
                  description: IP address for the comment author.
                author_name:
                  type: string
                  description: Display name for the comment author.
                author_url:
                  type: string
                  format: uri
                  description: URL for the comment author.
                author_user_agent:
                  type: string
                  description: User agent for the comment author.
                content:
                  type: object
                  description: The content for the comment.
                date:
                  type: string
                  format: date-time
                  description: The date the comment was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the comment was published, as GMT.
                parent:
                  type: integer
                  description: The ID for the parent of the comment.
                post:
                  type: integer
                  description: The ID of the associated post object.
                status:
                  type: string
                  description: State of the comment.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPasswords: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Resource created.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: 'Invalid parameter(s). Probed live: {"code":"rest_invalid_param"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: 'Authentication required or capability missing. Probed live: {"code":"rest_forbidden"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: 'No route matched, or the resource id is invalid. Probed live: {"code":"rest_no_route"} / {"code":"rest_post_invalid_id"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: deleteCommentsById
      summary: Delete comments
      tags:
      - comments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the comment.
      - name: force
        schema:
          type: boolean
          default: false
        required: false
        description: Whether to bypass Trash and force deletion.
        in: query
      - name: password
        schema:
          type: string
        required: false
        description: The password for the parent post of the comment (if the post is password protected).
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: 'Invalid parameter(s). Probed live: {"code":"rest_invalid_param"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: 'Authentication required or capability missing. Probed live: {"code":"rest_forbidden"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: 'No route matched, or the resource id is invalid. Probed live: {"code":"rest_no_route"} / {"code":"rest_post_invalid_id"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
components:
  schemas:
    WPError:
      type: object
      description: WordPress REST error envelope, observed live on this host.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_no_route.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code, repeated in the body.
            params:
              type: object
              description: Per-parameter validation messages (rest_invalid_param).
            details:
              type: object
              description: Per-parameter structured error detail.
      required:
      - code
      - message
      examples:
      - code: rest_post_invalid_id
        message: Invalid post ID.
        data:
          status: 404
  securitySchemes:
    applicationPasswords:
      type: http
      scheme: basic
      description: WordPress application passwords, advertised by the discovery document at https://www.offerpad.com/wp-admin/authorize-application.php. Sent as HTTP Basic credentials. Required for write operations and for reads in the edit context; issuing a credential requires an Offerpad WordPress account, which is not self-serve.
