openapi: 3.1.0
info:
  title: Offerpad WordPress REST API (wp/v2)
  version: 2.0.0
  summary: The wp/v2 namespace of the WordPress REST API served by Offerpad's marketing site.
  description: DERIVED, NOT PUBLISHED BY OFFERPAD. Offerpad publishes no OpenAPI definition and does not document
    or support this surface as a developer product. This document was derived mechanically by API Evangelist from
    the live WordPress route-discovery document fetched from https://www.offerpad.com/wp-json/ on 2026-07-26 (411
    routes across 20 namespaces; the wp/v2 namespace is captured here). Every path, method, parameter name, type,
    enum, default and description is copied verbatim from that discovery document. Response bodies are intentionally
    left as generic objects because the discovery document does not publish response schemas; error responses are
    grounded in payloads probed live against this host. This is a content-management surface for the marketing site
    - it is NOT a real estate, listing, valuation or transaction API.
  contact:
    name: Offerpad
    url: https://www.offerpad.com/contact/
  x-apievangelist-method: derived
  x-apievangelist-source: openapi/offerpad-wp-json-discovery.json
  x-apievangelist-derived: '2026-07-26'
  x-upstream-documentation: https://developer.wordpress.org/rest-api/
servers:
- url: https://www.offerpad.com/wp-json
  description: Offerpad marketing site (WP Engine)
tags:
- name: index
  description: WordPress index resource routes.
- name: block-directory
  description: WordPress block-directory resource routes.
- name: block-patterns
  description: WordPress block-patterns resource routes.
- name: block-renderer
  description: WordPress block-renderer resource routes.
- name: block-types
  description: WordPress block-types resource routes.
- name: blocks
  description: WordPress blocks resource routes.
- name: categories
  description: WordPress categories resource routes.
- name: comments
  description: WordPress comments resource routes.
- name: e-floating-buttons
  description: WordPress e-floating-buttons resource routes.
- name: elementor_library
  description: WordPress elementor_library resource routes.
- name: elementor_snippet
  description: WordPress elementor_snippet resource routes.
- name: font-collections
  description: WordPress font-collections resource routes.
- name: font-families
  description: WordPress font-families resource routes.
- name: global-styles
  description: WordPress global-styles resource routes.
- name: icons
  description: WordPress icons resource routes.
- name: locations
  description: WordPress locations resource routes.
- name: media
  description: WordPress media resource routes.
- name: menu-items
  description: WordPress menu-items resource routes.
- name: menu-locations
  description: WordPress menu-locations resource routes.
- name: menus
  description: WordPress menus resource routes.
- name: navigation
  description: WordPress navigation resource routes.
- name: pages
  description: WordPress pages resource routes.
- name: pattern-directory
  description: WordPress pattern-directory resource routes.
- name: plugins
  description: WordPress plugins resource routes.
- name: posts
  description: WordPress posts resource routes.
- name: review
  description: WordPress review resource routes.
- name: search
  description: WordPress search resource routes.
- name: settings
  description: WordPress settings resource routes.
- name: sidebars
  description: WordPress sidebars resource routes.
- name: states
  description: WordPress states resource routes.
- name: statuses
  description: WordPress statuses resource routes.
- name: tags
  description: WordPress tags resource routes.
- name: taxonomies
  description: WordPress taxonomies resource routes.
- name: template-parts
  description: WordPress template-parts resource routes.
- name: templates
  description: WordPress templates resource routes.
- name: themes
  description: WordPress themes resource routes.
- name: types
  description: WordPress types resource routes.
- name: users
  description: WordPress users resource routes.
- name: widget-types
  description: WordPress widget-types resource routes.
- name: widgets
  description: WordPress widgets resource routes.
- name: wp_pattern_category
  description: WordPress wp_pattern_category resource routes.
components:
  securitySchemes:
    applicationPasswords:
      type: http
      scheme: basic
      description: WordPress application passwords, advertised by the discovery document at https://www.offerpad.com/wp-admin/authorize-application.php.
        Sent as HTTP Basic credentials. Required for write operations and for reads in the edit context; issuing
        a credential requires an Offerpad WordPress account, which is not self-serve.
  schemas:
    WPError:
      type: object
      description: WordPress REST error envelope, observed live on this host.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_no_route.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code, repeated in the body.
            params:
              type: object
              description: Per-parameter validation messages (rest_invalid_param).
            details:
              type: object
              description: Per-parameter structured error detail.
      required:
      - code
      - message
      examples:
      - code: rest_post_invalid_id
        message: Invalid post ID.
        data:
          status: 404
security: []
paths:
  /wp/v2:
    get:
      operationId: getNamespaceIndex
      summary: Get the wp/v2 namespace index
      tags:
      - index
      parameters:
      - name: namespace
        schema:
          default: wp/v2
        required: false
        in: query
      - name: context
        schema:
          default: view
        required: false
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': &id001
          description: 'Invalid parameter(s). Probed live: {"code":"rest_invalid_param"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401': &id002
          description: 'Authentication required or capability missing. Probed live: {"code":"rest_forbidden"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404': &id003
          description: 'No route matched, or the resource id is invalid. Probed live: {"code":"rest_no_route"} /
            {"code":"rest_post_invalid_id"}'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/block-directory/search:
    get:
      operationId: listBlockDirectorySearch
      summary: List block directory search
      tags:
      - block-directory
      parameters:
      - name: context
        schema:
          type: string
          enum:
          - view
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: page
        schema:
          type: integer
          default: 1
          minimum: 1
        required: false
        description: Current page of the collection.
        in: query
      - name: per_page
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        required: false
        description: Maximum number of items to be returned in result set.
        in: query
      - name: term
        schema:
          type: string
          minLength: 1
        required: true
        description: Limit result set to blocks matching the search term.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/block-patterns/categories:
    get:
      operationId: listBlockPatternsCategories
      summary: List block patterns categories
      tags:
      - block-patterns
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/block-patterns/patterns:
    get:
      operationId: listBlockPatternsPatterns
      summary: List block patterns patterns
      tags:
      - block-patterns
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/block-renderer/{name}:
    get:
      operationId: getBlockRendererByName
      summary: Retrieve block renderer
      tags:
      - block-renderer
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
        description: Unique registered name for the block.
      - name: context
        schema:
          type: string
          enum: &id004
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: attributes
        schema:
          type: object
          default: &id005 []
        required: false
        description: Attributes for the block.
        in: query
      - name: post_id
        schema:
          type: integer
        required: false
        description: ID of the post context.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    post:
      operationId: createBlockRendererByName
      summary: Create block renderer
      tags:
      - block-renderer
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
        description: Unique registered name for the block.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: string
                  enum: *id004
                  default: view
                  description: Scope under which the request is made; determines fields present in response.
                attributes:
                  type: object
                  default: *id005
                  description: Attributes for the block.
                post_id:
                  type: integer
                  description: ID of the post context.
      security:
      - applicationPasswords: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Resource created.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/block-types:
    get:
      operationId: listBlockTypes
      summary: List block types
      tags:
      - block-types
      parameters:
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: namespace
        schema:
          type: string
        required: false
        description: Block namespace.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/block-types/{namespace}:
    get:
      operationId: getBlockTypesByNamespace
      summary: Retrieve block types
      tags:
      - block-types
      parameters:
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: Block namespace.
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/block-types/{namespace}/{name}:
    get:
      operationId: getBlockTypesByNamespaceByName
      summary: Retrieve block types
      tags:
      - block-types
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
        description: Block name.
      - name: namespace
        in: path
        required: true
        schema:
          type: string
        description: Block namespace.
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/blocks:
    get:
      operationId: listBlocks
      summary: List blocks
      tags:
      - blocks
      parameters:
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: page
        schema:
          type: integer
          default: 1
          minimum: 1
        required: false
        description: Current page of the collection.
        in: query
      - name: per_page
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        required: false
        description: Maximum number of items to be returned in result set.
        in: query
      - name: search
        schema:
          type: string
        required: false
        description: Limit results to those matching a string.
        in: query
      - name: after
        schema:
          type: string
          format: date-time
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        in: query
      - name: modified_after
        schema:
          type: string
          format: date-time
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        in: query
      - name: before
        schema:
          type: string
          format: date-time
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        in: query
      - name: modified_before
        schema:
          type: string
          format: date-time
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        in: query
      - name: exclude
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Ensure result set excludes specific IDs.
        in: query
      - name: include
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Limit result set to specific IDs.
        in: query
      - name: search_semantics
        schema:
          type: string
          enum:
          - exact
        required: false
        description: How to interpret the search input.
        in: query
      - name: offset
        schema:
          type: integer
        required: false
        description: Offset the result set by a specific number of items.
        in: query
      - name: order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        required: false
        description: Order sort attribute ascending or descending.
        in: query
      - name: orderby
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        required: false
        description: Sort collection by post attribute.
        in: query
      - name: search_columns
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        required: false
        description: Array of column names to be searched.
        in: query
      - name: slug
        schema:
          type: array
          items:
            type: string
        required: false
        description: Limit result set to posts with one or more specific slugs.
        in: query
      - name: status
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
        required: false
        description: Limit result set to posts assigned one or more statuses.
        in: query
      - name: tax_relation
        schema:
          type: string
          enum:
          - AND
          - OR
        required: false
        description: Limit result set based on relationship between multiple taxonomies.
        in: query
      - name: wp_pattern_category
        schema:
          type:
          - object
          - array
        required: false
        description: Limit result set to items with specific terms assigned in the wp_pattern_category taxonomy.
        in: query
      - name: wp_pattern_category_exclude
        schema:
          type:
          - object
          - array
        required: false
        description: Limit result set to items except those with specific terms assigned in the wp_pattern_category
          taxonomy.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    post:
      operationId: createBlocks
      summary: Create blocks
      tags:
      - blocks
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      security:
      - applicationPasswords: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Resource created.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/blocks/{id}:
    get:
      operationId: getBlocksById
      summary: Retrieve blocks
      tags:
      - blocks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: excerpt_length
        schema:
          type: integer
        required: false
        description: Override the default excerpt length.
        in: query
      - name: password
        schema:
          type: string
        required: false
        description: The password for the post if it is password protected.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    post:
      operationId: createBlocksById
      summary: Create blocks
      tags:
      - blocks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the post.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      security:
      - applicationPasswords: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Resource created.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    delete:
      operationId: deleteBlocksById
      summary: Delete blocks
      tags:
      - blocks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: force
        schema:
          type: boolean
          default: false
        required: false
        description: Whether to bypass Trash and force deletion.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/blocks/{id}/autosaves:
    get:
      operationId: getBlocksByIdAutosaves
      summary: Retrieve blocks autosaves
      tags:
      - blocks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path parameter id declared by the route regex.
      - name: parent
        schema:
          type: integer
        required: false
        description: The ID for the parent of the autosave.
        in: query
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    post:
      operationId: createBlocksByIdAutosaves
      summary: Create blocks autosaves
      tags:
      - blocks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path parameter id declared by the route regex.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                  description: The ID for the parent of the autosave.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                wp_pattern_category:
                  type: array
                  items:
                    type: integer
                  description: The terms assigned to the post in the wp_pattern_category taxonomy.
      security:
      - applicationPasswords: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Resource created.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/blocks/{parent}/autosaves/{id}:
    get:
      operationId: getBlocksByParentAutosavesById
      summary: Retrieve blocks autosaves
      tags:
      - blocks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The ID for the autosave.
      - name: parent
        in: path
        required: true
        schema:
          type: integer
        description: The ID for the parent of the autosave.
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/blocks/{parent}/revisions:
    get:
      operationId: getBlocksByParentRevisions
      summary: Retrieve blocks revisions
      tags:
      - blocks
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: integer
        description: The ID for the parent of the revision.
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: page
        schema:
          type: integer
          default: 1
          minimum: 1
        required: false
        description: Current page of the collection.
        in: query
      - name: per_page
        schema:
          type: integer
          minimum: 1
          maximum: 100
        required: false
        description: Maximum number of items to be returned in result set.
        in: query
      - name: search
        schema:
          type: string
        required: false
        description: Limit results to those matching a string.
        in: query
      - name: exclude
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Ensure result set excludes specific IDs.
        in: query
      - name: include
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Limit result set to specific IDs.
        in: query
      - name: offset
        schema:
          type: integer
        required: false
        description: Offset the result set by a specific number of items.
        in: query
      - name: order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        required: false
        description: Order sort attribute ascending or descending.
        in: query
      - name: orderby
        schema:
          type: string
          enum:
          - date
          - id
          - include
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        required: false
        description: Sort collection by object attribute.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/blocks/{parent}/revisions/{id}:
    get:
      operationId: getBlocksByParentRevisionsById
      summary: Retrieve blocks revisions
      tags:
      - blocks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the revision.
      - name: parent
        in: path
        required: true
        schema:
          type: integer
        description: The ID for the parent of the revision.
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    delete:
      operationId: deleteBlocksByParentRevisionsById
      summary: Delete blocks revisions
      tags:
      - blocks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the revision.
      - name: parent
        in: path
        required: true
        schema:
          type: integer
        description: The ID for the parent of the revision.
      - name: force
        schema:
          type: boolean
          default: false
        required: false
        description: Required to be true, as revisions do not support trashing.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/categories:
    get:
      operationId: listCategories
      summary: List categories
      tags:
      - categories
      parameters:
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: page
        schema:
          type: integer
          default: 1
          minimum: 1
        required: false
        description: Current page of the collection.
        in: query
      - name: per_page
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        required: false
        description: Maximum number of items to be returned in result set.
        in: query
      - name: search
        schema:
          type: string
        required: false
        description: Limit results to those matching a string.
        in: query
      - name: exclude
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Ensure result set excludes specific IDs.
        in: query
      - name: include
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Limit result set to specific IDs.
        in: query
      - name: order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        required: false
        description: Order sort attribute ascending or descending.
        in: query
      - name: orderby
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        required: false
        description: Sort collection by term attribute.
        in: query
      - name: hide_empty
        schema:
          type: boolean
          default: false
        required: false
        description: Whether to hide terms not assigned to any posts.
        in: query
      - name: parent
        schema:
          type: integer
        required: false
        description: Limit result set to terms assigned to a specific parent.
        in: query
      - name: post
        schema:
          type: integer
          default: null
        required: false
        description: Limit result set to terms assigned to a specific post.
        in: query
      - name: slug
        schema:
          type: array
          items:
            type: string
        required: false
        description: Limit result set to terms with one or more specific slugs.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    post:
      operationId: createCategories
      summary: Create categories
      tags:
      - categories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  description: Meta fields.
              required:
              - name
      security:
      - applicationPasswords: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Resource created.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/categories/{id}:
    get:
      operationId: getCategoriesById
      summary: Retrieve categories
      tags:
      - categories
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the term.
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    post:
      operationId: createCategoriesById
      summary: Create categories
      tags:
      - categories
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the term.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: HTML description of the term.
                name:
                  type: string
                  description: HTML title for the term.
                slug:
                  type: string
                  description: An alphanumeric identifier for the term unique to its type.
                parent:
                  type: integer
                  description: The parent term ID.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPasswords: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Resource created.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    delete:
      operationId: deleteCategoriesById
      summary: Delete categories
      tags:
      - categories
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the term.
      - name: force
        schema:
          type: boolean
          default: false
        required: false
        description: Required to be true, as terms do not support trashing.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/comments:
    get:
      operationId: listComments
      summary: List comments
      tags:
      - comments
      parameters:
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: page
        schema:
          type: integer
          default: 1
          minimum: 1
        required: false
        description: Current page of the collection.
        in: query
      - name: per_page
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        required: false
        description: Maximum number of items to be returned in result set.
        in: query
      - name: search
        schema:
          type: string
        required: false
        description: Limit results to those matching a string.
        in: query
      - name: after
        schema:
          type: string
          format: date-time
        required: false
        description: Limit response to comments published after a given ISO8601 compliant date.
        in: query
      - name: author
        schema:
          type: array
          items:
            type: integer
        required: false
        description: Limit result set to comments assigned to specific user IDs. Requires authorization.
        in: query
      - name: author_exclude
        schema:
          type: array
          items:
            type: integer
        required: false
        description: Ensure result set excludes comments assigned to specific user IDs. Requires authorization.
        in: query
      - name: author_email
        schema:
          type: string
          format: email
          default: null
        required: false
        description: Limit result set to that from a specific author email. Requires authorization.
        in: query
      - name: before
        schema:
          type: string
          format: date-time
        required: false
        description: Limit response to comments published before a given ISO8601 compliant date.
        in: query
      - name: exclude
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Ensure result set excludes specific IDs.
        in: query
      - name: include
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Limit result set to specific IDs.
        in: query
      - name: offset
        schema:
          type: integer
        required: false
        description: Offset the result set by a specific number of items.
        in: query
      - name: order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        required: false
        description: Order sort attribute ascending or descending.
        in: query
      - name: orderby
        schema:
          type: string
          enum:
          - date
          - date_gmt
          - id
          - include
          - post
          - parent
          - type
          default: date_gmt
        required: false
        description: Sort collection by comment attribute.
        in: query
      - name: parent
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Limit result set to comments of specific parent IDs.
        in: query
      - name: parent_exclude
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Ensure result set excludes specific parent IDs.
        in: query
      - name: post
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Limit result set to comments assigned to specific post IDs.
        in: query
      - name: status
        schema:
          type: string
          default: approve
        required: false
        description: Limit result set to comments assigned a specific status. Requires authorization.
        in: query
      - name: type
        schema:
          type: string
          default: comment
        required: false
        description: Limit result set to comments assigned a specific type. Requires authorization.
        in: query
      - name: password
        schema:
          type: string
        required: false
        description: The password for the post if it is password protected.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    post:
      operationId: createComments
      summary: Create comments
      tags:
      - comments
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID of the user object, if author was a user.
                author_email:
                  type: string
                  format: email
                  description: Email address for the comment author.
                author_ip:
                  type: string
                  format: ip
                  description: IP address for the comment author.
                author_name:
                  type: string
                  description: Display name for the comment author.
                author_url:
                  type: string
                  format: uri
                  description: URL for the comment author.
                author_user_agent:
                  type: string
                  description: User agent for the comment author.
                content:
                  type: object
                  description: The content for the comment.
                date:
                  type: string
                  format: date-time
                  description: The date the comment was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the comment was published, as GMT.
                parent:
                  type: integer
                  default: 0
                  description: The ID for the parent of the comment.
                post:
                  type: integer
                  default: 0
                  description: The ID of the associated post object.
                status:
                  type: string
                  description: State of the comment.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPasswords: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Resource created.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/comments/{id}:
    get:
      operationId: getCommentsById
      summary: Retrieve comments
      tags:
      - comments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the comment.
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: password
        schema:
          type: string
        required: false
        description: The password for the parent post of the comment (if the post is password protected).
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    post:
      operationId: createCommentsById
      summary: Create comments
      tags:
      - comments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the comment.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                author:
                  type: integer
                  description: The ID of the user object, if author was a user.
                author_email:
                  type: string
                  format: email
                  description: Email address for the comment author.
                author_ip:
                  type: string
                  format: ip
                  description: IP address for the comment author.
                author_name:
                  type: string
                  description: Display name for the comment author.
                author_url:
                  type: string
                  format: uri
                  description: URL for the comment author.
                author_user_agent:
                  type: string
                  description: User agent for the comment author.
                content:
                  type: object
                  description: The content for the comment.
                date:
                  type: string
                  format: date-time
                  description: The date the comment was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the comment was published, as GMT.
                parent:
                  type: integer
                  description: The ID for the parent of the comment.
                post:
                  type: integer
                  description: The ID of the associated post object.
                status:
                  type: string
                  description: State of the comment.
                meta:
                  type: object
                  description: Meta fields.
      security:
      - applicationPasswords: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Resource created.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    delete:
      operationId: deleteCommentsById
      summary: Delete comments
      tags:
      - comments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the comment.
      - name: force
        schema:
          type: boolean
          default: false
        required: false
        description: Whether to bypass Trash and force deletion.
        in: query
      - name: password
        schema:
          type: string
        required: false
        description: The password for the parent post of the comment (if the post is password protected).
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/e-floating-buttons:
    get:
      operationId: listEFloatingButtons
      summary: List e floating buttons
      tags:
      - e-floating-buttons
      parameters:
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: page
        schema:
          type: integer
          default: 1
          minimum: 1
        required: false
        description: Current page of the collection.
        in: query
      - name: per_page
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        required: false
        description: Maximum number of items to be returned in result set.
        in: query
      - name: search
        schema:
          type: string
        required: false
        description: Limit results to those matching a string.
        in: query
      - name: after
        schema:
          type: string
          format: date-time
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        in: query
      - name: modified_after
        schema:
          type: string
          format: date-time
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        in: query
      - name: author
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Limit result set to posts assigned to specific authors.
        in: query
      - name: author_exclude
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Ensure result set excludes posts assigned to specific authors.
        in: query
      - name: before
        schema:
          type: string
          format: date-time
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        in: query
      - name: modified_before
        schema:
          type: string
          format: date-time
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        in: query
      - name: exclude
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Ensure result set excludes specific IDs.
        in: query
      - name: include
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Limit result set to specific IDs.
        in: query
      - name: menu_order
        schema:
          type: integer
        required: false
        description: Limit result set to posts with a specific menu_order value.
        in: query
      - name: search_semantics
        schema:
          type: string
          enum:
          - exact
        required: false
        description: How to interpret the search input.
        in: query
      - name: offset
        schema:
          type: integer
        required: false
        description: Offset the result set by a specific number of items.
        in: query
      - name: order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        required: false
        description: Order sort attribute ascending or descending.
        in: query
      - name: orderby
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: date
        required: false
        description: Sort collection by post attribute.
        in: query
      - name: search_columns
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        required: false
        description: Array of column names to be searched.
        in: query
      - name: slug
        schema:
          type: array
          items:
            type: string
        required: false
        description: Limit result set to posts with one or more specific slugs.
        in: query
      - name: status
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
        required: false
        description: Limit result set to posts assigned one or more statuses.
        in: query
      - name: format
        schema:
          type: array
          items:
            type: string
            enum:
            - standard
            - aside
            - chat
            - gallery
            - link
            - image
            - quote
            - status
            - video
            - audio
        required: false
        description: Limit result set to items assigned one or more given formats.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    post:
      operationId: createEFloatingButtons
      summary: Create e floating buttons
      tags:
      - e-floating-buttons
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                format:
                  type: string
                  enum:
                  - standard
                  - aside
                  - chat
                  - gallery
                  - link
                  - image
                  - quote
                  - status
                  - video
                  - audio
                  description: The format for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
      security:
      - applicationPasswords: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Resource created.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/e-floating-buttons/{id}:
    get:
      operationId: getEFloatingButtonsById
      summary: Retrieve e floating buttons
      tags:
      - e-floating-buttons
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: excerpt_length
        schema:
          type: integer
        required: false
        description: Override the default excerpt length.
        in: query
      - name: password
        schema:
          type: string
        required: false
        description: The password for the post if it is password protected.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    post:
      operationId: createEFloatingButtonsById
      summary: Create e floating buttons
      tags:
      - e-floating-buttons
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the post.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                format:
                  type: string
                  enum:
                  - standard
                  - aside
                  - chat
                  - gallery
                  - link
                  - image
                  - quote
                  - status
                  - video
                  - audio
                  description: The format for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
      security:
      - applicationPasswords: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Resource created.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    delete:
      operationId: deleteEFloatingButtonsById
      summary: Delete e floating buttons
      tags:
      - e-floating-buttons
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: force
        schema:
          type: boolean
          default: false
        required: false
        description: Whether to bypass Trash and force deletion.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/e-floating-buttons/{id}/autosaves:
    get:
      operationId: getEFloatingButtonsByIdAutosaves
      summary: Retrieve e floating buttons autosaves
      tags:
      - e-floating-buttons
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path parameter id declared by the route regex.
      - name: parent
        schema:
          type: integer
        required: false
        description: The ID for the parent of the autosave.
        in: query
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    post:
      operationId: createEFloatingButtonsByIdAutosaves
      summary: Create e floating buttons autosaves
      tags:
      - e-floating-buttons
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Path parameter id declared by the route regex.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: integer
                  description: The ID for the parent of the autosave.
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                content:
                  type: object
                  description: The content for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                excerpt:
                  type: object
                  description: The excerpt for the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                menu_order:
                  type: integer
                  description: The order of the post in relation to other posts.
                format:
                  type: string
                  enum:
                  - standard
                  - aside
                  - chat
                  - gallery
                  - link
                  - image
                  - quote
                  - status
                  - video
                  - audio
                  description: The format for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
      security:
      - applicationPasswords: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Resource created.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/e-floating-buttons/{parent}/autosaves/{id}:
    get:
      operationId: getEFloatingButtonsByParentAutosavesById
      summary: Retrieve e floating buttons autosaves
      tags:
      - e-floating-buttons
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The ID for the autosave.
      - name: parent
        in: path
        required: true
        schema:
          type: integer
        description: The ID for the parent of the autosave.
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/e-floating-buttons/{parent}/revisions:
    get:
      operationId: getEFloatingButtonsByParentRevisions
      summary: Retrieve e floating buttons revisions
      tags:
      - e-floating-buttons
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: integer
        description: The ID for the parent of the revision.
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: page
        schema:
          type: integer
          default: 1
          minimum: 1
        required: false
        description: Current page of the collection.
        in: query
      - name: per_page
        schema:
          type: integer
          minimum: 1
          maximum: 100
        required: false
        description: Maximum number of items to be returned in result set.
        in: query
      - name: search
        schema:
          type: string
        required: false
        description: Limit results to those matching a string.
        in: query
      - name: exclude
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Ensure result set excludes specific IDs.
        in: query
      - name: include
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Limit result set to specific IDs.
        in: query
      - name: offset
        schema:
          type: integer
        required: false
        description: Offset the result set by a specific number of items.
        in: query
      - name: order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        required: false
        description: Order sort attribute ascending or descending.
        in: query
      - name: orderby
        schema:
          type: string
          enum:
          - date
          - id
          - include
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        required: false
        description: Sort collection by object attribute.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/e-floating-buttons/{parent}/revisions/{id}:
    get:
      operationId: getEFloatingButtonsByParentRevisionsById
      summary: Retrieve e floating buttons revisions
      tags:
      - e-floating-buttons
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the revision.
      - name: parent
        in: path
        required: true
        schema:
          type: integer
        description: The ID for the parent of the revision.
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    delete:
      operationId: deleteEFloatingButtonsByParentRevisionsById
      summary: Delete e floating buttons revisions
      tags:
      - e-floating-buttons
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the revision.
      - name: parent
        in: path
        required: true
        schema:
          type: integer
        description: The ID for the parent of the revision.
      - name: force
        schema:
          type: boolean
          default: false
        required: false
        description: Required to be true, as revisions do not support trashing.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/elementor_library:
    get:
      operationId: listElementorLibrary
      summary: List elementor library
      tags:
      - elementor_library
      parameters:
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: page
        schema:
          type: integer
          default: 1
          minimum: 1
        required: false
        description: Current page of the collection.
        in: query
      - name: per_page
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        required: false
        description: Maximum number of items to be returned in result set.
        in: query
      - name: search
        schema:
          type: string
        required: false
        description: Limit results to those matching a string.
        in: query
      - name: after
        schema:
          type: string
          format: date-time
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        in: query
      - name: modified_after
        schema:
          type: string
          format: date-time
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        in: query
      - name: author
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Limit result set to posts assigned to specific authors.
        in: query
      - name: author_exclude
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Ensure result set excludes posts assigned to specific authors.
        in: query
      - name: before
        schema:
          type: string
          format: date-time
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        in: query
      - name: modified_before
        schema:
          type: string
          format: date-time
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        in: query
      - name: exclude
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Ensure result set excludes specific IDs.
        in: query
      - name: include
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Limit result set to specific IDs.
        in: query
      - name: search_semantics
        schema:
          type: string
          enum:
          - exact
        required: false
        description: How to interpret the search input.
        in: query
      - name: offset
        schema:
          type: integer
        required: false
        description: Offset the result set by a specific number of items.
        in: query
      - name: order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        required: false
        description: Order sort attribute ascending or descending.
        in: query
      - name: orderby
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        required: false
        description: Sort collection by post attribute.
        in: query
      - name: search_columns
        schema:
          type: array
          default: []
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
        required: false
        description: Array of column names to be searched.
        in: query
      - name: slug
        schema:
          type: array
          items:
            type: string
        required: false
        description: Limit result set to posts with one or more specific slugs.
        in: query
      - name: status
        schema:
          type: array
          default: publish
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
        required: false
        description: Limit result set to posts assigned one or more statuses.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    post:
      operationId: createElementorLibrary
      summary: Create elementor library
      tags:
      - elementor_library
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
      security:
      - applicationPasswords: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Resource created.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/elementor_library/{id}:
    get:
      operationId: getElementorLibraryById
      summary: Retrieve elementor library
      tags:
      - elementor_library
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: password
        schema:
          type: string
        required: false
        description: The password for the post if it is password protected.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    post:
      operationId: createElementorLibraryById
      summary: Create elementor library
      tags:
      - elementor_library
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the post.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type: string
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                password:
                  type: string
                  description: A password to protect access to the content and excerpt.
                title:
                  type: object
                  description: The title for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                meta:
                  type: object
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
      security:
      - applicationPasswords: []
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '201':
          description: Resource created.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    delete:
      operationId: deleteElementorLibraryById
      summary: Delete elementor library
      tags:
      - elementor_library
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the post.
      - name: force
        schema:
          type: boolean
          default: false
        required: false
        description: Whether to bypass Trash and force deletion.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/elementor_library/{parent}/revisions:
    get:
      operationId: getElementorLibraryByParentRevisions
      summary: Retrieve elementor library revisions
      tags:
      - elementor_library
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: integer
        description: The ID for the parent of the revision.
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: page
        schema:
          type: integer
          default: 1
          minimum: 1
        required: false
        description: Current page of the collection.
        in: query
      - name: per_page
        schema:
          type: integer
          minimum: 1
          maximum: 100
        required: false
        description: Maximum number of items to be returned in result set.
        in: query
      - name: search
        schema:
          type: string
        required: false
        description: Limit results to those matching a string.
        in: query
      - name: exclude
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Ensure result set excludes specific IDs.
        in: query
      - name: include
        schema:
          type: array
          default: []
          items:
            type: integer
        required: false
        description: Limit result set to specific IDs.
        in: query
      - name: offset
        schema:
          type: integer
        required: false
        description: Offset the result set by a specific number of items.
        in: query
      - name: order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        required: false
        description: Order sort attribute ascending or descending.
        in: query
      - name: orderby
        schema:
          type: string
          enum:
          - date
          - id
          - include
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        required: false
        description: Sort collection by object attribute.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/elementor_library/{parent}/revisions/{id}:
    get:
      operationId: getElementorLibraryByParentRevisionsById
      summary: Retrieve elementor library revisions
      tags:
      - elementor_library
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the revision.
      - name: parent
        in: path
        required: true
        schema:
          type: integer
        description: The ID for the parent of the revision.
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
    delete:
      operationId: deleteElementorLibraryByParentRevisionsById
      summary: Delete elementor library revisions
      tags:
      - elementor_library
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the revision.
      - name: parent
        in: path
        required: true
        schema:
          type: integer
        description: The ID for the parent of the revision.
      - name: force
        schema:
          type: boolean
          default: false
        required: false
        description: Required to be true, as revisions do not support trashing.
        in: query
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400': *id001
        '401': *id002
        '404': *id003
  /wp/v2/elementor_snippet:
    get:
      operationId: listElementorSnippet
      summary: List elementor snippet
      tags:
      - elementor_snippet
      parameters:
      - name: context
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        required: false
        description: Scope under which the request is made; determines fields present in response.
        in: query
      - name: page
        schema:
          type: integer
          default: 1
          minimum: 1
        required: false
        description: Current page of the collection.
        in: query
      - name: per_page
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        required: false
        description: Maximum number of items to be returned in result set.
        in: query
      - name: search
        schema:
          type: string
        required: false
        description: Limit results to those matching a string.
        in: query
      - name: after
        schema:
          type: string
          format: date-time
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        in: query
      - name: modified_after
        schema:
          type: string
          format: date-time
        required: false
[...]
